.code-font {
    font-family: "Ubuntu Mono", "monospace", "Roboto", "Oxygen", "Monaco", "Droid Sans";
    font-size: 17px;
}
.borderless {
    padding: .4rem 1.5rem;
}

pre {
    background-color: #f7f7f7;
    border: 1px solid #cdcdcd;
    border-radius: .125rem;
    color: #111;
    display: block;
    margin-bottom: 1.5rem;
    margin-top: 0;
    overflow: auto;
    padding: calc(0.45rem - 1px) 1rem calc(0.45rem - 1px);
    text-align: left;
    text-shadow: none;
    white-space: pre;
}

code {
    color: black;
    background-color: #e5e5e5;
    box-shadow: 0px -1px 0 0.25rem #e5e5e5;
    font-family: "Ubuntu Mono", "monospace", "Roboto", "Oxygen", "Monaco", "Droid Sans";
    font-weight: 300;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    text-align: left;
}
#command {
    font-size: 17px;
}
